/* Main styles */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&Roboto:300');

/* Variables */

:root {
  --color-win: #78CF82;
  --color-lose: #D94545;
  --color-start: #5b85b7;
  --color-neutral: #445069;
  --color-neutral-light: #D2D2D2;
  --color-keys: #37474F;
  --color-keys-light: #E5E5E5;
  --font-size-large: 60px;
  --font-size-msg: 40px;
  --font-size-medium: 20px;
  --transition: all 0.5s ease-in-out;
}

/* main */

* {
  box-sizing: border-box;
}

body {
  justify-content: space-evenly;
  flex-direction: column;
  display: flex;
  height: 100vh;
}

li, ol, ul {
  padding: 0;
  display: inline-block;
}

h2 {
  margin: 0;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: var(--font-size-large);
  margin: 0;
}

button {
  margin: 6px;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  color: var(--color-keys);
  font-size: var(--font-size-medium);
  background-color: var(--color-keys-light);
  border-radius: 5px;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  cursor: pointer;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  max-height: 900px;
  text-align: center;
}

.section {
  width: 100%;
  padding: 10px;
}

/* Title */

.header {
  color: var(--color-start);
}

/* Scoreboard */

.tries img {
  height: calc(2 * 35px);
  width: calc(2 * 30px);
  margin-right: 15px;
}

/* Phrase */

.letter {
  font-size: var(--font-size-medium);
  height: 65px;
  width: 65px;
  padding: 20px 1px 0 1px;
  margin-right: 4px;
  margin-bottom: 3px;
  color: transparent;
  background: var(--color-neutral-light);
  border-radius: 5px;
  text-transform: capitalize;
}

.space {
  width: 45px;
}

.show {
  color: #030303;
  background: #76CE82;
  transition: background 2s ease-in;
  animation: show 2s;
}

@keyframes show {
  0% {
    transform: rotateY(0);
  }
  50% {
    background: #333;
    color: #333;
  }
  100% {
    transform: rotateY(360deg);
  }
}

/* Keyboard */

.keyrow {
  display: flex;
  justify-content: center;
}

.chosen {
  background: var(--color-neutral);
  border-radius: 5px;
  font-size: var(--font-size-medium);
  color: #FFFFFF;
  cursor: default;
}

.btn__reset {
  padding: 8px;
  margin: 50px auto;
  background: #FFFFFF;
  border-radius: 5px;
  font-size: var(--font-size-medium);
  cursor: pointer;
}

/* Overlay */

#overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  color: #FFFFFF;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
}

.title {
  color: #FFF;
}

.start {
  background-color: var(--color-start);
}

.start a {
  color: var(--color-win);
}

.win {
  background-color: var(--color-win);
}

.win a {
  color: var(--color-win);
}

.lose {
  background-color: var(--color-lose);
}

.lose a {
  color: var(--color-lose);
}

.message {
  margin: 0;
  text-transform: capitalize;
  font-family: 'Open Sans', sans-serif;
  font-size: var(--font-size-msg);
  font-weight: normal;
}
